:root {
    --th_primary: #132166;
    --th_secondary: #2832a1;
    --th_ternary: #ff6347;
    --py_max: 90px;
}


/**
* Dark blue theme
*/

.dark-blue-theme {

    .brand-title {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
    }

    .brand-title img {
        height: 60px;
        width: 75px;
    }

    .brand-title div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brand-title h1 {
        font-size: 30px;
        margin: 0px !important;
    }
    
    .brand-title h6 {
        margin: 0px;
        font-size: 15px;
        font-weight: 600 !important;
        text-align: center;
    }

    .carousel-item-center {
        text-align: center;
        background-color: var(--light);
    }

    .carousel-item-center> img {
        height: 90vh;
        width: 50vw !important;
    }

    /* Media Queries for Responsiveness */
    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
        .brand-title img {
            height: 40px;
            width: 50px;
        }
    
        .brand-title h1 {
            font-size: 1.5rem;
        }
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 768px) {
        .brand-title img {
            height: 45px;
            width: 55px;
        }
    
        .brand-title h1 {
            font-size: 1.75rem;
        }
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (max-width: 992px) {
        .brand-title img {
            height: 40px;
            width: 50px;
        }
    
        .brand-title h1 {
            font-size: 2rem;
        }
    }
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (max-width: 1200px) {
        .brand-title img {
            height: 65px;
            width: 75px;
        }
    
        .brand-title h1 {
            font-size: 2.25rem;
        }

        .carousel-item-center> img {
            height: 45vh;
            width: 80vw !important;
        }
    }

    
    a,
    .text-light {
        color: var(--light) !important
    }

    .btn-outline-primary, 
    .btn-outline-primary.disabled,
    .btn-link,
    .nav-link,
    .page-link,
    .link-primary,
    .text-primary,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--th_primary) !important;
    }

    .text-dark,
    .btn-secondary {
        color: var(--dark) !important;
    }

    .text-parent {
        color: inherit !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .py-top {
        padding-top: var(--py_max);
    }
    
    .py-bottom {
        padding-bottom: var(--py_max);
    }

    .top-75 {
        top: 75% !important;
    }

    .nav-link:hover,
    .btn-primary:hover,
    .btn-secondary:hover,
    .testimonial-carousel .owl-nav .owl-prev:hover,
    .testimonial-carousel .owl-nav .owl-next:hover {
        color: var(--th_ternary) !important;
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--th_primary) !important;
    }



    .btn-dark,
    .bg-dark {
        background-color: var(--th_primary) !important;
    }


    .form-check-input:checked, 
    .form-check-input[type="checkbox"]:indeterminate, 
    .btn-primary,
    .btn-primary.disabled,
    .btn-outline-primary,
    .btn-outline-primary:hover,
    .btn-outline-primary.dropdown-toggle.show,
    .page-item.active .page-link,
    .list-group-item.active,
    .border-primary {
        border-color: var(--th_primary) !important;
    }

    .team-item .team-text::after {
        border-color: transparent transparent transparent  var(--th_secondary) !important;
    }


    .form-check-input:checked,
    .form-check-input[type="checkbox"]:indeterminate,
    .form-range::-webkit-slider-thumb,
    /* .form-range::-moz-range-thumb, */
    .btn-primary,
    .btn-primary.disabled,
    .btn-outline-primary:hover,
    .btn-outline-primary.dropdown-toggle.show,
    .dropdown-item:active,
    .dropdown-menu-dark .dropdown-item:active,
    .nav-pills .show > .nav-link,
    .page-item.active .page-link,
    .progress-bar,
    .list-group-item.active,
    .bg-primary,
    .testimonial-carousel .owl-nav .owl-prev,
    .testimonial-carousel .owl-nav .owl-next {
        background-color: var(--th_primary) !important;
    }

    .top-shape::before {
        background-color: var(--th_primary) !important;
    }

    a.back-to-top {
        background-color: var(--th_secondary) !important;
    }

}
